/* ---------------------------------------
	Typography
--------------------------------------- */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	a {
		color: inherit;
	}
}

h1, .h1 {
	/*basic heading styles*/
}

h2, .h2 {
	/*basic heading styles*/
}

h3, .h3 {
	font-size: 40px;
	font-weight: 700;
	/*basic heading styles*/

	@include media-breakpoint-down(sm) {
		font-size: 32px;
	}
}

h4, .h4 {
	/*basic heading styles*/
}

h5, .h5 {
	/*basic heading styles*/
}

h6, .h6 {
	/*basic heading styles*/
}

.title {
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@include media-breakpoint-down(sm) {
		font-size: 32px;
	}
}

p {
	/*basic paragraph styles*/
	font-size: 1.375rem;

	@include media-breakpoint-down(sm) {
		font-size: 1rem;
	}
	&:empty {
		display: none;
	}

	a {
		text-decoration: underline;
	}
}

ul, ol {
	padding-left: 25px;
	font-size: inherit;
}

ul {
	/*basic list styles*/

	li {
		/*basic list-item styles*/
	}
}

a {
	transition: all 0.2s ease-in-out;

	&:hover, &:focus {
		/*basic hover and focus effects*/
	}
}

// Basic Table

table {
	width: 100%;
	margin-bottom: $spacer;
	background-color: $table-bg; // Reset for nesting within parents with `background-color`.
	color: $table-color;

	th,
	td {
		padding: $table-cell-padding;
		vertical-align: top;
		border-top: $table-border-width solid $table-border-color;
	}

	thead th {
		vertical-align: bottom;
		border-bottom: (2 * $table-border-width) solid $table-border-color;
		background-color: $table-head-bg;
		color: $table-head-color;
	}

	tbody + tbody {
		border-top: (2 * $table-border-width) solid $table-border-color;
	}
}

blockquote {
	margin-bottom: $spacer;
	padding: .5625rem 1.25rem 0 1.1875rem;
	border-left: 1px solid #cacaca;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */

.no-outline {
	button, a, [tabindex] {
		outline: none;
	}
}

/* Placeholder styling */

input, textarea {
	&::placeholder {
		opacity: 1;
	}
}

/* Input Styling */

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select,
.select-styled {
	/* STYLES GO THERE */
	margin-bottom: 0;
}

textarea[rows] {
	/*Styles for TextArea*/
	max-width: 100%;
	height: 150px;
}

[type=number] {
	-moz-appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

[type=checkbox],
[type=file],
[type=radio] {
	margin-bottom: 0;

	& + label {
		margin-left: 5px;
	}
}
.border-gradient.modal-open {
	display: inline-block;
	align-items: center;
	animation: all 0.8s ease-in;

	font-size: 22px;
	font-weight: 400;
	color: $text-color;
	text-decoration: none;
	padding: 20px 40px;
	margin-top: 40px;

	position: relative;
	box-sizing: border-box;

	background: #000;
	border-radius: 50px;

	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		margin: -2px;
		border-radius: inherit;
		//border: 2px!important;
		background: linear-gradient(270.48deg, #62D6C2 -15.58%, #547FF2 88.66%);
	}

	&:hover, &:focus {
		color: inherit;
		//border: solid $border;
		border-radius: 50px;
		background: linear-gradient(87.73deg, #6154F2 -10.03%, rgba(98, 214, 194, 0) 111.79%);
		//border: 2px solid;
	}

	@include media-breakpoint-down(md) {
		font-size: 18px;
	}
}

button, .btn, .button, input[type='submit'], input[type='reset'], input[type='button'] {
	border: unset!important;
}

.button-green {
	text-decoration: none;
	font-size: 1.2rem;
	background: $green;
	border-radius: 12px;

	&:hover, &:focus {
		background-color: $blue;
		color: #fff;
	}
}

.button-blue

/* Button additional styles */

.btn, .button {
	&:hover, &:focus {
		/*basic hover and focus effects*/
	}
}
